<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="profile-name"><%= selectedUser.username %>'s Profile Page</h1>
<section class="their-songs">
  <div class="scroll-me-4">
    <div class="each-song">
      <% songs.forEach( song => { %>
        <% if(song.owner.equals(selectedUser?._id)) { %>
          <section class="song-tag">
          <div><%= song.artist %></a></div>
          <div><a style="color: whitesmoke;" href="/songs/<%= song._id %>"><%= song.title %></a></div>
          <div class="top-rank"><%= song.rank %></div>
          <div class="top-mood"><%= song.wordAssociation %></div>
          </section>
        <% } %>
      <% })  %>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>