<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= selectedUser.username %>'s Profile Page</h1>
<section>
<% songs.forEach( song => { %>
  <% if(song.owner.equals(selectedUser?._id)) { %>
    <div class="association"><a style="text-decoration: none;" href="/songs/<%= song._id %>"><h(<%= song.rank %>)><%= song.wordAssociation %></h(<%= song.rank %>)></a></div><br>
    <% } %>
    <% }) %>
</section>


<section>
  <h1><%= selectedUser.username %>'s Songs</h1>
    <% songs.forEach( song => { %>
      <% if(song.owner.equals(selectedUser?._id)) { %>
        <a href="/songs/<%= song._id %>"><%= song.title %> - <%= song.artist %></a>|
      <% } %>
      <% })  %>
</section>

<%- include('../partials/footer') %>