<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>This is <%= selectedUser.username %>'s Profile Page</h1>


  <button type="submit">Add Friend</button>


<section>
  <h1><%= selectedUser.username %>'s Songs</h1>
  <ul>
    <% songs.forEach( song => { %>
      <% if(song.owner.equals(selectedUser?._id)) { %>
      <li>
        <a href="/songs/<%= song._id %>"><%= song.title %> - <%= song.artist %></a>
      </li>
      <% } %>
      <% })  %>
  </ul>
</section>

<%- include('../partials/footer') %>