<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="edit-song">
  <h1>Edit your Comment</h1>
  <form action="/songs/<%= song._id %>/<%= comment._id %>?_method=PUT" method="POST">
    <label>Comment:
      <textarea style="height: 60px" name="content"><%= comment.content  %></textarea>
    </label>
    <button class="btn-add-song" type="submit">Update Comment</button>
  </form>
</section>



<%- include('../partials/footer') %>