<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<h1>Songs</h1>

<section class="store">
    <% songs.forEach( song => { %>
      <div class="record">
        <a  style="text-decoration: none;" href="/songs/<%= song._id %>"><%= song.title %> - <%= song.artist %></a> <br>
      </div>
      <% })  %>
</section>


<%- include('../partials/footer') %>