<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<h1>Discover Songs</h1>

<section class="store">
    <% songs.forEach( song => { %>
      <div class="record">
        <br>
        <a  style="text-decoration: none;" href="/songs/<%= song._id %>"><%= song.title %></a> <br>
      </div>
      <% })  %>
</section>

<%- include('../partials/footer') %>