<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>This is your profile page <%= selectedUser.username %></h1>

<section id="song-form">
  <h2>New Song</h2>
  <form id="new-song" action="/songs" method="POST">
    <label for="title-input">Add Song Title:</label>
    <input type="text" name="title" id="title-input"><br>
    <label for="artist-input">Add Artist:</label>
    <input type="text" name="artist" id="artist-input"><br>
    <label for="word-association-input">Emotion for song (One Word):</label><br>
    <input type="text" name="wordAssociation" id="word-association-input"><br>
    <label for="rank-input">Rank this song? (1 is ranked best)</label>
    <input type="number" name="rank" id="rank-input" min="1" max="5"> <br><br>
    <button type="submit">Add Song</button>
  </form>
</section>

<section>
  <h1>My Songs</h1>
  <ul>
    <% songs.forEach( song => { %>
      <% if(song.owner.equals(user?._id)) { %>
        <a href="/songs/<%= song._id %>"><%= song.title %> - <%= song.artist %></a>|
      <% } %>
      <% })  %>
  </ul>
</section>

<%- include('../partials/footer') %>