<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="profilename"><%= selectedUser.username %>'s Profile</h1>
  <section class="mysongs">
    <div class="scrollme">
      <div class="eachsong">
      <% songs.forEach( song =>  { %>
        <% if(song.owner.equals(user?._id)) { %>
          <section class="songtag">
            <div><%= song.artist %></a></div>
            <div><a style="color: whitesmoke;" href="/songs/<%= song._id %>"><%= song.title %></a></div>
            <div class="toprank"><%= song.rank %></div>
            <div class="topmood"><%= song.wordAssociation %></div>
            </section>
        <% } %>
        <% } )  %>
      </div>
      </div>
  </section>

  <section id="song-form">
    <h2>New Song</h2>
    <form id="new-song" action="/songs" method="POST">
      <label for="title-input">Add Song Title:</label>
      <input type="text" name="title" id="title-input"><br>
      <label for="artist-input">Add Artist:</label>
      <input type="text" name="artist" id="artist-input"><br>
      <label for="word-association-input">Emotion for song (One Word):</label><br>
      <input type="text" name="wordAssociation" id="word-association-input"><br>
      <label for="rank-input">Rank this song? (1 is ranked best)</label>
      <select name="rank" id="rank-input" min="1" max="5"> 
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
        <br><br>
      <button class="btnaddsong" type="submit">Add Song</button>
    </form>
  </section>

  <section class="mycomments">
    <h4>My Song's Comments</h4>
    <div class="scrollme2">
      <div class="content2">
        <% songs.forEach( song => { %>
          <% if(song.owner.equals(user?._id)) { %>
            <% song.comments?.forEach(comment => { %>
              <a class="mycsongs" style="text-decoration: none; color: black;" href="/songs/<%= song._id %>"><%= song.title %> by <%= song.artist %></a> <br>
              "<%= comment.content %>"
              _______________________________________ <br>
              <% })  %>
            <% } %>
        <% })  %>
      </div>
    </div>
</section>

<%- include('../partials/footer') %>