<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>From the Studio of <%= song.owner.username %></p>
  <h1><%= song.title %></h1> 
  <h1><%= song.artist %></h1>
  <% if (song.owner.equals(user?._id)) { %>
    <a href="/songs/<%= song._id %>/edit">
      <button class="btn">Edit Song</button>
    </a>
    <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn">X</button>
    </form>
    <% } else { %>
    <section>
      <form action="/songs/<%= song._id %>/comments" method="POST">
      <textarea name="content"></textarea> <br>
      <button type="submit">Comment</button>
      </form> <br>
    </section>
    <% } %>
</section>

<h2>Comments</h2>
<ul>
  <% song.comments?.forEach(comment => { %>
    <li>
      <%= comment.content %> - <a href="/users/<%= comment.author._id %>"><%= comment.author.username %></a>
    </li> 
  <% }) %>
</ul>

<%- include('../partials/footer') %>