<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="showView">
  <div class="profileSongView">
  <p><a style="text-decoration: none;" href="/users/<%= song.owner._id %>"><%= song.owner.username %></a></p>
</div>
  <div class="songCard">
    <h1><%= song.artist %></h1>
    <h1>🎶 <%= song.title %> 🎶</h1> 
    <h2>Mood: <%= song.wordAssociation %></h2>
    <h2>Rank: <%= song.rank %></h2>
    <% if (song.owner.equals(user?._id)) { %>
    <div>
    <a href="/songs/<%= song._id %>/edit">
      <button class="btn">Edit Song</button>
    </a>
  </div>
  <div>
    <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn">X</button>
    </form>
  </div>
    <% } else { %>
    <div>
      <form action="/songs/<%= song._id %>/comments" method="POST">
      <textarea name="content"></textarea> <br>
      <button class="btn" type="submit">Comment</button>
      </form> <br>
    </div>
    <% } %>
  </div>

<div class="comments">
<h2>Comments</h2>
<% if (song.comments.length) { %>
  <% song.comments?.forEach(comment => { %>
      <%= comment.content %> - <a href="/users/<%= comment.author._id %>"><%= comment.author.username %></a><br>
      <% if (comment.author.equals(user?._id)) { %>
        <div class="btn">
        <form action="/songs/<%= song._id %>/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">x</button>
        </form>
        <a href="/songs/<%= song._id %>/<%= comment._id %>/edit">
          <button>Edit</button>
        </a>
      </div>
        <% } %> 
  <% }) %>
<% } else { %>
  <h3>Be the first to comment</h3>
  <% } %>
</div>
</section>

<%- include('../partials/footer') %>