<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="showview">
  <div class="profilesongview">
  <p><a style="text-decoration: none; color: black" href="/users/<%= song.owner._id %>"><%= song.owner.username %></a></p>
  </div>
  <div class="songcard">
    <h1 class="artist"><%= song.artist %></h1>
    <h1>🎶 <%= song.title %> 🎶</h1> 
    <h2>Mood: <%= song.wordAssociation %></h2>
    <h2>Rank: <%= song.rank %></h2>
    <% if (song.owner.equals(user?._id)) { %>
    <div>
    <a href="/songs/<%= song._id %>/edit">
      <button class="btnaddsong">Edit Song</button>
    </a>
    </div>
    <div>
    <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btnaddsong">X</button>
    </form>
    </div>
    <% } else { %>
    <div>
      <form action="/songs/<%= song._id %>/comments" method="POST">
      <textarea style="height: 40px" name="content"></textarea> <br>
      <button class="btnaddsong" type="submit">Comment</button>
      </form> <br>
    </div>
    <% } %>
  </div>

<section class="comments">
<h2 style="color: black;">Comments</h2>
      <div class="comments2">
        <div class="comments3">
<% if (song.comments.length) { %>
    <% song.comments?.forEach((comment) => { %>
        <a style="text-decoration: none; color:whitesmoke" href="/users/<%= comment.author._id %>"><%= comment.author.username %></a>
        <p class="date"><%= comment.createdAt.toDateString() %></p>
        <br>
        "<%= comment.content %>"
        <br>
        _____________________________________________
        <br>
      <% if (comment.author.equals(user?._id)) { %>
        <div class="xcec">
        <form action="/songs/<%= song._id %>/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="xc" type="submit">x</button>
        </form>
        <a href="/songs/<%= song._id %>/<%= comment._id %>/edit">
          <button class="ec">Edit</button>
        </a>
        <% } %> 
      </div>
      </div>
    <% }) %>
  <% } else { %>
  <h3>Be the first to comment</h3>
    <% } %>
</section>

<%- include('../partials/footer') %>