<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="show-view">
  <div class="profile-song-view">
    <p class="username-song"><a style="text-decoration: none; color: whitesmoke" href="/users/<%= song.owner._id %>"><%= song.owner.username %></a></p>
  </div>
  <div class="song-card">
    <h1 class="artist"><%= song.artist %></h1>
    <h1 class="artist">🎶 <%= song.title %> 🎶</h1> 
    <h2 class="song-word"><%= song.wordAssociation %></h2>
    <h2 class="song-rank"><%= song.rank %></h2>
    <% if (song.owner.equals(user?._id)) { %>
      <div>
      <a href="/songs/<%= song._id %>/edit">
      <button class="btn-add-song">Edit Song</button>
      </a>
      </div>
      <div>
        <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn-add-song">X</button>
        </form>
      </div>
      <textarea style="height: 40px; opacity: 0%; width: 210px" name="content"></textarea>
    <% } else { %>
      <div class="comment-box">
      <form action="/songs/<%= song._id %>/comments" method="POST">
      <textarea style="height: 40px" name="content"></textarea> <br>
      <button class="btn-add-song" type="submit">Comment</button>
      </form> <br>
      </div>
    <% } %>
  </div>

<section class="comments">
  <h2 style="color: black;">Comments</h2>
  <div class="comments2">
    <div class="comments3">
      <% if (song.comments.length) { %>
        <% song.comments?.forEach((comment) => { %>
          <a style="text-decoration: none; color:whitesmoke" href="/users/<%= comment.author._id %>"><%= comment.author.username %></a>
          <p class="date"><%= comment.createdAt.toDateString() %></p>
          "<%= comment.content %>"
          <br>
          <% if (comment.author.equals(user?._id)) { %>
            <div class="both">
            <form action="/songs/<%= song._id %>/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="x-comment" type="submit">x</button>
            </form>
            <a href="/songs/<%= song._id %>/<%= comment._id %>/edit">
            <button class="e-comment">Edit</button>
            </a>
          <% } %> 
            </div>
          _____________________________________________
          <br>
    </div>
        <% }) %>
      <% } else { %>
      <h3>Be the first to comment</h3>
    <% } %>
</section>

<%- include('../partials/footer') %>