<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="All">All Geniuses</h1>

<section class="genius">
<% users.forEach(u => { %>
  <div class="person">
  <h3><a style="text-decoration:none" class="profile" href="/users/<%= u._id %>"><%= u.username %></a></h3>
  <p class="top-songs">
  </p>
</div>
<% }) %>
</section>

<%- include('../partials/footer') %>